.DS_Store

ibanify-frontend/node_modules/
ibanify-frontend/dist/
ibanify-frontend/dist-ssr/
ibanify-frontend/.env
ibanify-frontend/.env.*.local
ibanify-frontend/*.local
ibanify-frontend/logs/
ibanify-frontend/*.log
ibanify-frontend/npm-debug.log*
ibanify-frontend/yarn-debug.log*
ibanify-frontend/yarn-error.log*
ibanify-frontend/pnpm-debug.log*
ibanify-frontend/lerna-debug.log*

/PRESENTATION_BACKEND.md
/PRESENTATION_FRONTEND.md

/ibanify-nginx-site.conf

ibanify-core/.gradle/
ibanify-core/build/
ibanify-core/out/
ibanify-core/bin/
ibanify-core/.apt_generated
ibanify-core/.classpath
ibanify-core/.factorypath
ibanify-core/.project
ibanify-core/.settings/
ibanify-core/.springBeans
ibanify-core/.sts4-cache/
ibanify-core/*.iws
ibanify-core/*.iml
ibanify-core/*.ipr
ibanify-core/nbproject/private/
ibanify-core/nbbuild/
ibanify-core/nbdist/
ibanify-core/.nb-gradle/

.idea/
.vscode/*
!.vscode/extensions.json

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
